@model AnimeSite.Models.Post
@{
    ViewBag.Title = "Создвние поста";
}
<form asp-action="createpost" asp-controller="home" enctype="multipart/form-data">
    @*<div class="form-group">
        <input type="image" asp-for="Photo" class="form-control" placeholder="Email" />
    </div>*@
    <div class="form-group">
        <input type="text"  asp-for="Description" class="form-control" placeholder="Описание" 
             style=" width:100%;"/> 
    </div>
    <div class="form-group">
        <input type="number" class="form-group" min="1" max="10" asp-for="Rating" placeholder="Оценка"
             style=" width:100px"  />
    </div>
    <div class="form-group">
        <input type="file" class="form-group" name="file" placeholder="фото"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Создать" class="btn bnt-default" />
    </div>
</form>